/* @import url('https://fonts.googleapis.com/css2?family= Krona+One & family= Montserrat:wght@400;600 & display =swap'); */
@import url('https://fonts.googleapis.com/css2?family= Krona+One & family= Montserrat:wght@400;600 & display =swap');

:root {
    --cor-primária: #000000;
    --cor-secundária: #f6f6f6;
    --cor-terciária: #b783f2;
    --cor-hover: #292a2a;

    --fonte-primária: 'Krona One', sans-serif;
    --fonte-secundária: 'Montserrat', sans-serif;
    --fonte-terciária: 'Satisfy', cursive;

}

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}



body 
{
    /* height: 100vh; */
    /* box-sizing: border-box; */
    background-color: var(--cor-primária);
    color: var(--cor-secundária); 

}

.cabeçalho {
    background: var(--cor-terciária);
    padding: 2% 0% 0% 15%;
}

.cabeçalho_menu_link {
    font-family:var(--fonte-secundária);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primária);
    text-decoration: none;

    
} 

.menu {
    display: flex;
    gap: 10%;
}

/* span{
    font-weight: bold; 
    color: #3cc516; 
    border: 1px solid #45db17;
    padding: 10px; } */



.tipos {    
    color: var(--cor-terciária)}   


.apresentação {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;

}

.imagem__apresentação{
    width: 20%;
    height: auto;
}


.apresentação__caixa-de-texto-conteúdo-principal {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


/* .apresentação__caixa-de-texto-conteúdo-sobre-mim {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    gap: 40px;
} */



.apresentação__titulo__principal {    
    /* font-size: 46px; */
    font-size: 2.9rem;
    font-family: var(--fonte-terciária);
} 

.apresentação__título__principal__sobre__mim {
    font-family: var(--fonte-terciária);
    font-size: 2.9rem;
    
}

.título__destaque {color: var(--cor-terciária)}

.apresentação__primeiro__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundária);
    
}


.botões {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content:space-between;
}


.sub-título {
    font-family: var(--fonte-primária);
    font-weight: 400;
    font-size: 1.5rem;
}

/* .imagem__apresentação:hover {} */

.destaque_explicação_botões {
    color: var(--cor-secundária);
}


.botão_links {
    /* background-color: #70eccf; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 10px double var(--cor-terciária);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 378;
    padding: 12px 92px;
    text-decoration: none;
    color: var(--cor-secundária);
    font-family: var(--fonte-secundária);
 
    /* hover = modo que seleciona e estiliza um link ao passar o mouse sobre ele */
}
.botão_links:hover {
    transition: -1s;
    transition: scale 2;
    background-color: var(--cor-hover);
    padding: 3%;
}

.informação_extra {
    font-size: 1.5rem;
    color: var(--cor-secundária);
}
.informação_extra:hover {
    color: var(--cor-terciária);

}

.link__certificado {
    text-decoration: none;
}

.imagem__apresentação {
    width: 50%;
}

.rodapé {
    background-color: var(--cor-terciária);
    color: var(--cor-primária);
    /* padding: 24px; */
    padding: 4%;
    text-align: center;
    font-size: 20px;
    font-family: var(--fonte-secundária);
}

@media (max-width: 1200px) {

.cabeçalho {
        padding: 4%; 

}

.menu {
    justify-content: center;
}

.apresentação{ 
    flex-direction:column-reverse;
    padding: 5%;
} 
    .apresentação__caixa-de-texto-conteúdo-principal {
        width: auto;
    }
}
/* esse atalho se chama comentário, ele não interfere no códico, para fazê-lo uso ctrl+k+c */
